* {box-sizing: border-box;
    padding: 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-dlock {
    flex-grow: 1;

}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.hedaer {
    width: 100%;
    background-color: aquamarine;
    height: 50px;
}
aside {
    width: 30%;
    background-color: gainsboro;
}
img {
    float: left;
}
article {

}